<?%
/*
 If not stated otherwise in this file or this component's Licenses.txt file the
 following copyright and licenses apply:

 Copyright 2018 RDK Management

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/
?>
<?% include('includes/utility.jst'); ?>
<?% include('includes/actionHandlerUtility.jst') ?>
<?%
session_start();
if (!isset($_SESSION["loginuser"]) || empty($_SESSION["loginuser"])) {
	echo( '<script type="text/javascript">alert("Please Login First!"); location.href="../index.jst";</script>');
	exit(0);
}
$mode=$_GET['mode'];
$timef=$_GET['timef'];
$timef = str_replace("+"," ",str_replace("+"," ",$timef));
$timef=rawurldecode($timef);
var $maxtime;
var $mintime;
$timef_key = "";
switch($timef){			//	[$mintime, $maxtime)
	case "today":
	case "Today":
		$maxtime=strtotime("now");
		$mintime=strtotime("today");
		$timef_key = "today";
	break;
	case "yesterday":
	case "Yesterday":
		$maxtime=strtotime("today");
		$mintime=strtotime("yesterday");
		$timef_key = "yesterday";
	break;
	case "week":
	case "Last week":
		$maxtime=strtotime("now");
		$mintime=strtotime("last Monday");
		$timef_key = "week";
	break;
	case "month":
	case "Last month":
		$maxtime=strtotime("now");
		$mintime=strtotime("last month");
		$timef_key = "month";
	break;
	case "last90":
	case "Last 90 days":
		//zqiu: last 90 days include today
		//$maxtime=strtotime("today");
		$maxtime=strtotime("now");
		$mintime=strtotime("-90 days");
		$timef_key = "last90";
	break;
	default:
		die('Not allowed!');
}
switch($mode){
	case "site":
		$type="Site Blocked";
		break;
	case "service":
		$type="Service Blocked";
		break;
	case "device":
		$type="Device Blocked";
		break;
	case "all":
		$type="all";
		break;
	default:
		die('Not allowed!');
}
$LogEntrys = exec("/usr/ccsp/ccsp_bus_client_tool eRT getv Device.X_CISCO_COM_Security.InternetAccess.LogEntry.");
$logEntriesFile = fopen("/tmp/log_parental.txt", "w");
for ($logEntryKey in $LogEntrys) {
	$logEntry = $LogEntrys[$logEntryKey]; /*p2j-foreach*/
	if (strpos($logEntry, "type:") !== false) {
		// leading spaces are preserved: the reader below indexes each line at $pos
		fwrite($logEntriesFile, $logEntry.replace(/[\r\n]/g, '')+"\n");
	}
}
fclose($logEntriesFile);
$file= fopen("/tmp/log_parental.txt", "r");
$pos = 50;		//global file pointer where to read the value in a line
$mintime/=1000;
$maxtime/=1000;
$Log = [];
$value = getStr("Device.X_CISCO_COM_Security.InternetAccess.LogEntryNumberOfEntries");
$k = 0;
for (var $i=0; $i < $value; $i++) {
	$Count 	    = substr(fgets($file),$pos);
	$SourceIP 	= substr(fgets($file),$pos);	//don't need, but have to read
	$User 	    = substr(fgets($file),$pos);
	$TargetIP 	= substr(fgets($file),$pos);
	$Type 	    = trim(substr(fgets($file),$pos)); //need to trim the blank char in string end, otherwise $type never equal to $Type
	$time 	    = substr(fgets($file),$pos);
	$Des 	    = substr(fgets($file),$pos);

	if (feof($file)) break;					//PHP read last line will return false, not EOF!
	
	$timeArr = str2time(trim($time));
	$timeU = $timeArr['timeU'];
	if ($timeU > $maxtime || $timeU < $mintime) continue;	//only store the needed line

	$timeArr = str2time(UTC_to_local_date_logs(trim($time)));

	if ($type == $Type) {
		$Log[$k] = {"time":$timeArr['formatted_time'], "Des":$Des, "Count":$Count, "Target":$TargetIP,"Source":$SourceIP,"Type":$Type}/*p2j-array*/;
		$k++;
	}
	else if ($type == "all") {
		$allowedTypes = ["Site Blocked", "Service Blocked", "Device Blocked"]/*p2j-array*/;
		if (in_array($Type, $allowedTypes)) {
				 $Log[$k] = {"time":$timeArr['formatted_time'], "Des":$Des, "Count":$Count, "Target":$TargetIP,"Source":$SourceIP,"Type":$Type}/*p2j-array*/;
				 $k++;
		}
	}
	
}

fclose($file);

$firewall_log = array_reverse($Log);
// echo "firewall log ...: \n";
$fh=fopen("/tmp/parental_reports_"+$mode+"_"+$timef_key+".txt","w");
for($key in $firewall_log) { $value=$firewall_log[$key];/*p2j-foreach*/
	fwrite($fh, $value["Des"]+", "+$value["Count"]+" Attempts, "+$value["time"]+"\t"+$value["Type"]+"\r\n");
}
fclose($fh);

header("Content-Type: application/json");
echo( htmlspecialchars(json_encode($firewall_log), ENT_NOQUOTES, 'UTF-8'));
	
?>


